.nav {
	background-color: blanchedalmond;
  grid-area: n;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 7px;
  padding-top: 10px;
}
.nav a {
  color: #191a18;
  
}
.item a.active{
	color: rgb(255, 255, 255);
	
}